In [49]:
import psycopg2

In [50]:
conn = psycopg2.connect(
database="Employees",
host="localhost",
user="postgres",
password="#butterfly12!",
port="5432")

In [51]:
cursor = conn.cursor()

In [64]:
# Question 1

In [52]:
cursor.execute('''SELECT COUNT(p."project_id"), d."department_name"
    FROM "employees" e
    LEFT JOIN "departments" d ON e."department_id" = d."department_id"
    LEFT JOIN "projects" p ON e."project_id" = p."project_id"
    GROUP BY d."department_name";''')
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)

(30, 'Marketing')
(40, 'IT')
(30, 'HR')

In [65]:
# Question 2

In [53]:
cursor.execute('''SELECT COUNT(p."project_status"), p."project_status" 
    FROM "projects" p
    GROUP BY p."project_status";''')
    
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print(row)

(4, 'In Progress')
(3, 'Completed')
(3, 'Not Started')

In [ ]:
# Question 3

In [54]:
cursor.execute('''SELECT COUNT(e."employee_id"), e."skill" 
    FROM "employees" e
    GROUP BY e."skill";''')
    
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print(row)

(20, 'Database Design')
(20, 'Marketing')
(10, 'Design')
(20, 'Recruiting')
(10, 'Employee Relations')
(20, 'Programming')

In [ ]:
# Question 5

In [55]:
cursor.execute('''SELECT e."employee_name", p."project_name"
    FROM "employees" e
    LEFT JOIN "projects" p ON e."project_id" = p."project_id";''')
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)

('Xavier', 'Employee Onboarding')
('Sophie', 'Employee Onboarding')
('Natalie', 'Employee Onboarding')
('Katherine', 'Employee Onboarding')
('George', 'Employee Onboarding')
('Alex', 'Employee Onboarding')
('Victoria', 'Employee Onboarding')
('Pamela', 'Employee Onboarding')
('Jane', 'Employee Onboarding')
('Alice', 'Employee Onboarding')
('Yvonne', 'System Upgrade')
('Simon', 'System Upgrade')
('Noah', 'System Upgrade')
('Kevin', 'System Upgrade')
('Gina', 'System Upgrade')
('Amy', 'System Upgrade')
('Vincent', 'System Upgrade')
('Paul', 'System Upgrade')
('John', 'System Upgrade')
('Bob', 'System Upgrade')
('Zack', 'Ad Campaign')
('Taylor', 'Ad Campaign')
('Olivia', 'Ad Campaign')
('Laura', 'Ad Campaign')
('Henry', 'Ad Campaign')
('Ben', 'Ad Campaign')
('Wendy', 'Ad Campaign')
('Quinn', 'Ad Campaign')
('Kate', 'Ad Campaign')
('Carol', 'Ad Campaign')
('Zara', 'Training Program')
('Thomas', 'Training Program')
('Owen', 'Training Program')
('Liam', 'Training Program')
('Holly', 'Training Program')
('Chloe', 'Training Program')
('William', 'Training Program')
('Rachel', 'Training Program')
('Leo', 'Training Program')
('David', 'Training Program')
('Zane', 'Data Migration')
('Tracy', 'Data Migration')
('Penny', 'Data Migration')
('Lily', 'Data Migration')
('Ian', 'Data Migration')
('Chris', 'Data Migration')
('Xander', 'Data Migration')
('Ryan', 'Data Migration')
('Lily', 'Data Migration')
('Eve', 'Data Migration')
('Zoey', 'Website Redesign')
('Tina', 'Website Redesign')
('Quincy', 'Website Redesign')
('Matt', 'Website Redesign')
('Isabel', 'Website Redesign')
('Diana', 'Website Redesign')
('Yasmine', 'Website Redesign')
('Samantha', 'Website Redesign')
('Mark', 'Website Redesign')
('Frank', 'Website Redesign')
('Zachary', 'Mobile App Launch')
('Victor', 'Mobile App Launch')
('Quinn', 'Mobile App Launch')
('Mia', 'Mobile App Launch')
('Jackie', 'Mobile App Launch')
('Dan', 'Mobile App Launch')
('Zach', 'Mobile App Launch')
('Scott', 'Mobile App Launch')
('Nancy', 'Mobile App Launch')
('Grace', 'Mobile App Launch')
('Zoe', 'Internship Program')
('Vanessa', 'Internship Program')
('Rachel', 'Internship Program')
('Michael', 'Internship Program')
('James', 'Internship Program')
('Emma', 'Internship Program')
('Zoe', 'Internship Program')
('Sophia', 'Internship Program')
('Oliver', 'Internship Program')
('Harry', 'Internship Program')
('Ziggy', 'Product Launch')
('William', 'Product Launch')
('Richard', 'Product Launch')
('Molly', 'Product Launch')
('Jasmine', 'Product Launch')
('Ethan', 'Product Launch')
('Zane', 'Product Launch')
('Steven', 'Product Launch')
('Olivia', 'Product Launch')
('Irene', 'Product Launch')
('Zander', 'System Integration')
('Wendy', 'System Integration')
('Rebecca', 'System Integration')
('Nathan', 'System Integration')
('John', 'System Integration')
('Emily', 'System Integration')
('Zara', 'System Integration')
('Thomas', 'System Integration')
('Oscar', 'System Integration')
('Jack', 'System Integration')

In [ ]:
# Question 6

In [66]:
cursor.execute('''SELECT p."project_id", p."project_name", p."project_status", d."department_name"
    FROM "projects" p
    INNER JOIN "departments" d ON p."department_id" = d."department_id"
    WHERE p."project_name" = 'Mobile App Launch';''')
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)
    
cursor.execute('''SELECT e."employee_name"
    FROM "employees" e
    INNER JOIN "projects" p ON e."project_id" = p."project_id"
    WHERE p."project_name" = 'Mobile App Launch';''')

rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)

('PJ0007', 'Mobile App Launch', 'In Progress', 'HR')
('Grace',)
('Nancy',)
('Scott',)
('Zach',)
('Dan',)
('Jackie',)
('Mia',)
('Quinn',)
('Victor',)
('Zachary',)

In [67]:
# Question 8

In [57]:
cursor.execute('''SELECT count(e."employee_name"), p."project_status"
    FROM "employees" e
    FULL OUTER JOIN "projects" p ON p."project_id" = e."project_id"
    GROUP BY p."project_status";''')
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)

(40, 'In Progress')
(30, 'Completed')
(30, 'Not Started')

In [68]:
# Question 9

In [58]:
cursor.execute('''SELECT d."department_name", p."project_status", count(p."project_status")
    FROM "projects" p
    FULL OUTER JOIN "departments" d ON p."department_id" = d."department_id"
    GROUP BY d."department_name", p."project_status"
    ORDER BY d."department_name", p."project_status";''')
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)
cursor.execute('''SELECT COUNT(e."employee_id"), e."skill" 
    FROM "employees" e
    GROUP BY e."skill";''')

('HR', 'In Progress', 2)
('HR', 'Not Started', 1)
('IT', 'Completed', 2)
('IT', 'Not Started', 2)
('Marketing', 'Completed', 1)
('Marketing', 'In Progress', 2)

In [69]:
# Question 10

In [63]:
cursor.execute('''SELECT e."employee_name", d."department_name", p."project_name"
    FROM "employees" e
    LEFT JOIN "projects" p ON e."project_id" = p."project_id"
    LEFT JOIN "departments" d ON e."department_id" = d."department_id"
    WHERE e."skill" = 'Programming' AND p."project_status" = 'In Progress';''')
    
               
rows = cursor.fetchall()

conn.commit()

for row in rows:
    print (row)

('Grace', 'IT', 'Mobile App Launch')
('Nancy', 'IT', 'Mobile App Launch')
('Scott', 'IT', 'Mobile App Launch')
('Zach', 'IT', 'Mobile App Launch')
('Dan', 'IT', 'Mobile App Launch')
('Jackie', 'IT', 'Mobile App Launch')
('Mia', 'IT', 'Mobile App Launch')
('Quinn', 'IT', 'Mobile App Launch')
('Victor', 'IT', 'Mobile App Launch')
('Zachary', 'IT', 'Mobile App Launch')